/.phpunit.cache
/node_modules
/public/build/*
!/public/build/manifest.json
!/public/build/.vite/
!/public/build/.vite/manifest.json
!/public/build/assets/
/public/build/assets/*
!/public/build/assets/*.js
!/public/build/assets/*.css
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/lsp-*.php
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Database & Documentation
*.sql
*dfd*.html
*diagram*.html
*flowchart*.html
/docs/
